* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

body {
  font-family: Lato, "Helvetica Neue", Helvetica;
  font-weight: 200;
  overflow-x: hidden;
  overflow-y: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 200;
}

:root {
  --my-blue: rgb(43, 156, 212);
  --my-red: rgb(212, 100, 100);
  --my-orange: rgb(249, 182, 118);
  --my-green: rgb(43, 212, 156);
}

h1 {
  margin-top: 20px;
  text-align: center;
}

canvas {
  margin: 0 auto;
  display: inline-block;
  /*border: 1px black solid */
}

#main {
  display: flex;
}

#left,
#right {
  width: 25vw;
  height: 80vh;
  margin: 5vh 5vw;
}

.slider {
  display: inline-block;
}

.output {
  width: 100%;
  margin: 0;
  border: 1px rgb(232, 232, 232) solid;
  border: none;
  text-align: center;
  font-family: Lato;
  font-size: 8vh;
  font-weight: 200;
}

p {
  font-size: 2vh;
  width: 100%;
}
